Options -MultiViews
RewriteEngine On

RewriteBase /cs-mvc

RewriteCond %{REQUEST_URI} article/fulltext/crsc/*
RewriteRule article/fulltext/crsc/([0-9]{3})/([0-9]{2})/(.*)_.* public/data/$1/$2/$3.pdf [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
